<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% endblock %}

		{% block javascripts %}
		{# {% block importmap %}
				{{ importmap('app') }}
			{% endblock %} #}{% endblock %}
	</head>
	<body>
		<div class="container">
			<header>Je suis un header</header>
			{% block body %}
				<h1>Salut</h1>
			{% endblock %}
			<footer>Je suis un footer</footer>
		</div>
	</body>
</html>
